{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "htmlWhitespaceSensitivity": "ignore",
    "importOrder": ["^@3D/(.*)$", "^@redux/(.*)$", "^@app/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}