{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "htmlWhitespaceSensitivity": "ignore",
    "importOrder": ["^@redux/(.*)$", "^@components/(.*)$", "^@workers/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
