html,
body,
#root {
  overscroll-behavior-x: none;
  margin: 0;
  padding: 0;
}

:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif,
    "Segoe UI Emoji";
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

svg {
  display: inline-block;
  width: 1em;
  height: 1em;
}
